<div class="columns is-multiline">
  <% @teams.each do |team| %>
    <div class="column is-one-third">
      <div class="contact-box center-version">
        <span>
          <% team.users.each do |user| %>
            <%= image_tag avatar_url(user), class: 'img-circle image anti-image-block is-24x24' %>
          <% end %>
          <div><h3><strong><%= team.nome %></strong></h3></div>
          <div><%= Winner.where(team_id: team.id).count %> vitória(s)</div>
          <div><%= Loser.where(team_id: team.id).count %> derrota(s)</div>
        </span>
        <div class="contact-box-footer">
          <% if current_user.admin %>
            <%= link_to "Editar", edit_team_path(team), :class => 'button' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
