<div class="columns">
  <div class="column has-text-centered">
    <h2 class="subtitle">Artilharia Geral</h2>
  </div>
</div>
<table class="table is-narrow is-striped is-bordered">
  <thead>
      <th>Jogador</th>
      <th>Kills</th>
      <th>Deaths</th>
  </thead>
  <tbody>
    <% data_geral = Statistic.select("SUM(kills) AS kills, SUM(deaths) AS deaths, user_id").group(:user_id).order("kills DESC, deaths ASC") %>
    <% data_geral.each do |statistic| %>
      <tr>
        <% user = User.find(statistic.user_id) %>
        <td><%= image_tag avatar_url(user), class: 'img-circle image anti-image-block is-24x24' %> <%= user.nome %></td>
        <td><%= statistic.kills %></td>
        <td><%= statistic.deaths %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if data_geral.present? %>
  <%= high_chart("chart", Chart.chart(data_geral)) %>
<% end %>
