<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Placar Geral</h1>
  </div>
</div>
<table class="table is-narrow is-striped is-bordered">
  <thead>
      <th>Nome do Torneio</th>
      <th colspan="4">Resultado</th>
  </thead>
  <tbody>
    <% Tournament.all.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.nome, tournament %></td>
        <% tournament.teams.each do |team| %>
          <td>
            <%= team.nome %>
          </td>
          <td>
            <%= Winner.joins(:round).where(team_id: team.id).sum("rounds.pontos") %> pontos - <%= Winner.joins(:round).where(team_id: team.id).sum(:placar) %> rounds ganhos
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Estatísticas Gerais</h1>
  </div>
</div>
<table class="table is-narrow is-striped is-bordered">
  <tbody>
      <tr>
        <td width="30%">Vitórias Gerais como CT</td>
        <td><%= Winner.joins(:round).where(lado: "ct").count %></td>
      </tr>
      <tr>
        <td>Vitórias Gerais como T</td>
        <td><%= Winner.joins(:round).where(lado: "t").count %></td>
      </tr>
      <tr>
        <td>Estatísticas de Mapa</td>
        <td>
          <table>
            <thead>
              <th>Mapa</th>
              <th>Rounds Ganhos</th>
              <th>Vitórias como CT</th>
              <th>Vitórias como T</th>
            </thead>
            <tbody>
              <% Round.group(:map_id).count.each do |map_id, value| %>
                <% if map_id %>
                  <tr>
                    <% map = Map.find(map_id) %>
                    <% vitorias_ct = Map.joins(rounds: :winner).where(["maps.id = ? AND winners.lado = 'ct'", map_id]).count %>
                    <% vitorias_t = Map.joins(rounds: :winner).where(["maps.id = ? AND winners.lado = 't'", map_id]).count %>
                    <td><%= map.sigla %></td>
                    <td><%= value %></td>
                    <td><%= vitorias_ct %></td>
                    <td><%= vitorias_t %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
  </tbody>
</table>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Artilharia do CSZIM</h1>
  </div>
</div>
<hr>
<div class="columns">
  <div class="column has-text-centered">
    <% filtro_geral = "" %>
    <% filtro_torneio = "" %>
    <% filtro_mapa = "" %>
    <% filtro_geral = "is-primary" if params[:filtro].nil? %>
    <%= link_to "Geral", root_path, class: "button #{filtro_geral}" %>
    <% filtro_torneio = "is-primary" if params[:filtro] == 'torneio' %>
    <%= link_to "Por Torneio", root_path(filtro: "torneio"), class: "button #{filtro_torneio}" %>
    <% filtro_mapa = "is-primary" if params[:filtro] == 'mapa' %>
    <%= link_to "Por Mapa", root_path(filtro: "mapa"), class: "button #{filtro_mapa}" %>
  </div>
</div>

<hr>

<% if params[:filtro].nil? %>
  <%= render partial: "filtro_geral" %>
<% end %>

<% if params[:filtro] == 'torneio' %>
  <%= render partial: "filtro_torneio" %>
<% end %>

<% if params[:filtro] == 'mapa' %>
  <%= render partial: "filtro_mapa" %>
<% end %>
