<div class="columns">
  <div class="column is-2 has-text-centered">
    Torneios
  </div>
</div>
<table class="table is-narrow is-striped is-bordered">
  <thead>
      <th>Nome do Torneio</th>
      <th colspan="4">Resultado</th>
  </thead>
  <tbody>
    <% Tournament.all.each do |tournament| %>
      <tr>
        <td><%= tournament.nome %>
        <% tournament.teams.each do |team| %>
          <td>
            <%= team.nome %>
          </td>
          <td>
            <%= Winner.joins(:round).where(team_id: team.id).sum("rounds.pontos") %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div class="columns">
  <div class="column is-2 has-text-centered">
    Artilharia do CSZIM
  </div>
</div>
<hr>
<table class="table is-narrow is-striped is-bordered">
  <thead>
      <th>Jogador</th>
      <th>Kills</th>
      <th>Deaths</th>
  </thead>
  <tbody>
    <% Statistic.group(:user_id).sum(:kills).merge(Statistic.group(:user_id).sum(:deaths)) {|k, ov, nv| {kills: ov, deaths: nv}}.sort_by {|el| el[1][:kills]}.reverse.to_h.each do |k, v| %>
      <tr>
        <td><%= User.find(k).nome %></td>
        <td><%= v[:kills] %></td>
        <td><%= v[:deaths] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
