<div class="columns is-multiline">
  <% User.all.each do |user| %>
    <div class="column is-one-third">
      <div class="contact-box">
        <div class="columns">
          <div class="column is-one-third">
            <%= image_tag avatar_url(user), class: 'img-circle' %>
          </div>
          <div class="column">
            <h3 class="subtitle"><strong><%= user.nome %></strong></h3>
            <%= link_to user, class: 'button' do %>
              Histórico
            <% end %>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <table class="table is-narrow">
              <tr><td>Rounds jogados:</td><td><%= Winner.joins(team: :users).where(users: {id: user.id}).count + Loser.joins(team: :users).where(users: {id: user.id}).count %></td></tr>
              <tr><td>Rounds ganhos:</td><td><%= Winner.joins(team: :users).where(users: {id: user.id}).count %></td></tr>
              <tr><td>Kills:</td><td><%= Statistic.select("SUM(kills) AS kills").find_by(user_id: user.id).kills %></td></tr>
              <tr><td>Deaths:</td><td><%= Statistic.select("SUM(deaths) AS deaths").find_by(user_id: user.id).deaths %></td></tr>
              <tr><td>CT wins:</td><td><%= Winner.joins(team: :users).where(users: {id: user.id}, lado: 'ct').count %></td></tr>
              <tr><td>T wins:</td><td><%= Winner.joins(team: :users).where(users: {id: user.id}, lado: 't').count %></td></tr>
              <% hash = Round.joins(statistics: :user).where(users: {id: user.id}).where.not(map_id: nil).group(:map_id).sum(:kills) %>
              <tr>
                <td>
                  <span class="icon is-small"><i class="fa fa-star"></i></span>&nbsp; MVP Map:
                </td>
                <% if hash.empty? %>
                  <td>:(</td>
                <% else %>
                  <td>
                    <%= Map.find(hash.sort_by{|k, v| v}.reverse.first.first).nome %>
                    <br>
                    <%= hash.sort_by{|k, v| v}.reverse.first.reverse.first %> kills
                  </td>
                <% end %>
              </tr>
              <% hash = Round.joins(statistics: :user).where(users: {id: user.id}).where.not(map_id: nil).group(:map_id).sum(:deaths) %>
              <tr>
                <td>
                  <span class="icon is-small"><i class="fa fa-thumbs-down"></i></span>&nbsp; Noob Map:
                </td>
                <% if hash.empty? %>
                  <td>:(</td>
                <% else %>
                  <td><%= Map.find(hash.sort_by{|k, v| v}.reverse.first.first).nome %>
                    <br>
                    <%= hash.sort_by{|k, v| v}.reverse.first.reverse.first %> deaths
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr>

<%= high_chart("linechart", Chart.line_chart) %>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Estatísticas de Mapas</h1>
  </div>
</div>
<table class="table is-narrow is-striped is-bordered">
  <thead>
    <th width="5%">#</th>
    <th width="35%">Mapa</th>
    <th width="20%">Rounds jogados</th>
    <th width="20%">CT wins</th>
    <th width="20%">T wins</th>
  </thead>
  <tbody>
    <% total = 0 %>
    <% total_ct = 0 %>
    <% total_t = 0 %>
    <% Round.joins(:winner).group(:map_id).count.each do |map_id, value| %>
      <% if map_id %>
        <tr>
          <% map = Map.find(map_id) %>
          <% vitorias_ct = Map.joins(rounds: :winner).where(["maps.id = ? AND winners.lado = 'ct'", map_id]).count %>
          <% vitorias_t = Map.joins(rounds: :winner).where(["maps.id = ? AND winners.lado = 't'", map_id]).count %>
          <td><%= image_tag imagem_mapa_url(map), class: 'img-circle image anti-image-block is-24x24' %></td>
          <td><%= map.nome %> - <%= map.sigla %></td>
          <td><%= value %></td>
          <td><%= vitorias_ct %></td>
          <td><%= vitorias_t %></td>
        </tr>
        <% total += value %>
        <% total_ct += vitorias_ct %>
        <% total_t += vitorias_t %>
      <% end %>
    <% end %>
    <tr>
      <td colspan="2"></td>
      <td><strong><%= total %></strong></td>
      <td><strong><%= total_ct %></strong></td>
      <td><strong><%= total_t %></strong></td>
    </tr>
  </tbody>
</table>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Artilharia do CSZIM</h1>
  </div>
</div>
<hr>
<div class="columns">
  <div class="column has-text-centered">
    <% filtro_geral = "" %>
    <% filtro_torneio = "" %>
    <% filtro_mapa = "" %>
    <% filtro_geral = "is-primary" if params[:filtro].nil? %>
    <%= link_to "Geral", root_path, class: "button #{filtro_geral}" %>
    <% filtro_torneio = "is-primary" if params[:filtro] == 'torneio' %>
    <%= link_to "Por Torneio", root_path(request.query_parameters.merge(filtro: "torneio")), class: "button #{filtro_torneio}" %>
    <% filtro_mapa = "is-primary" if params[:filtro] == 'mapa' %>
    <%= link_to "Por Mapa", root_path(request.query_parameters.merge(filtro: "mapa")), class: "button #{filtro_mapa}" %>
  </div>
</div>

<hr>

<% if params[:filtro].nil? %>
  <%= render partial: "filtro_geral" %>
<% end %>

<% if params[:filtro] == 'torneio' %>
  <%= render partial: "filtro_torneio" %>
<% end %>

<% if params[:filtro] == 'mapa' %>
  <%= render partial: "filtro_mapa" %>
<% end %>
