<% season_id = params[:filtro].blank? ? Season.pluck(:id) : params[:filtro] %>

<div class="columns is-multiline">
  <div class="column has-text-centered">
    <h3 class="subtitle">Jogo Ativo: <%= current_game.nome %></h3>
    <h3 class="subtitle">Configuração Ativa: <%= current_configuration.nome %></h3>
  </div>
</div>

<div class="columns is-multiline">
  <div class="column has-text-centered">
    <% filtro_todos = "" %>
    <% filtro = "is-primary" if params[:filtro].blank? %>
    <%= link_to "Todas Temporadas", root_path, class: "button #{filtro}" %>
    <% Season.all.each do |season| %>
      <% filtro = "" %>
      <% filtro = "is-primary" if params[:filtro] == season.id.to_s %>
      <%= link_to season.nome, root_path(filtro: season.id), class: "button #{filtro}" %>
    <% end %>
  </div>
</div>
<div class="columns is-multiline">
  <% User.all.each do |user| %>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <%= image_tag avatar_url(user), class: 'img-circle' %>
            </div>
            <div class="media-content">
              <h3 class="title is-4"><strong><%= user.nome %></strong></h3>
            </div>
          </div>
        </div>
        <div class="content p-3">
          <table class="table is-narrow">
            <tr><td><strong>Kills</strong></td><td><%= user.total(:kills) %></td></tr>
            <tr><td><strong>Deaths</strong></td><td><%= user.total(:deaths) %></td></tr>
            <tr><td><strong>KDR</strong></td><td><%= nan(user.grouped_total(:kdr)) %></td></tr>
            <tr><td><strong>ADR</strong></td><td><%= nan(user.grouped_total(:adr)) %></td></tr>
            <tr>
              <td><strong>KAST</strong></td>
              <td>
                <%= nan(user.grouped_total(:kast)) %>%
                <br>
                <progress class="progress is-info" value="<%= user.grouped_total(:kast) %>" max="100"><%= user.grouped_total(:kast) %>%</progress>
              </td>
            </tr>
          </table>
        </div>
        <footer class="card-footer">
          <%= link_to user, class: 'card-footer-item button' do %>
            Histórico
          <% end %>
        </footer>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Estatísticas de Mapas</h1>
  </div>
</div>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <th width="5%">#</th>
    <th width="35%">Mapa</th>
    <th width="20%">Qtde de partidas</th>
    <th width="20%">Rounds CT</th>
    <th width="20%">Rounds TR</th>
  </thead>
  <tbody>
    <% current_game.maps.each do |map| %>
      <tr>
        <td><%= image_tag imagem_mapa_url(map), class: 'img-circle image anti-image-block is-24x24' %></td>
        <td><%= map.nome %> - <%= map.sigla %></td>
        <td><%= map.demos.count %></td>
        <td>0</td>
        <td>0</td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Artilharia do CSZIM</h1>
  </div>
</div>
<hr>
<div class="columns">
  <div class="column has-text-centered">
    <% filtro_geral = "" %>
    <% filtro_torneio = "" %>
    <% filtro_mapa = "" %>
    <% filtro_geral = "is-primary" if params[:filtro].nil? %>
    <%#= link_to "Geral", root_path, class: "button #{filtro_geral}" %>
    <% filtro_torneio = "is-primary" if params[:filtro] == 'torneio' %>
    <%#= link_to "Por Torneio", root_path(request.query_parameters.merge(filtro: "torneio")), class: "button #{filtro_torneio}" %>
    <% filtro_mapa = "is-primary" if params[:filtro] == 'mapa' %>
    <%#= link_to "Por Mapa", root_path(request.query_parameters.merge(filtro: "mapa")), class: "button #{filtro_mapa}" %>
  </div>
</div>

<%# if params[:filtro].nil? %>
  <%= render partial: "filtro_geral", locals: { season_id: season_id } %>
<%# end %>

<%# if params[:filtro] == 'torneio' %>
  <%#= render partial: "filtro_torneio" %>
<%# end %>

<%# if params[:filtro] == 'mapa' %>
  <%#= render partial: "filtro_mapa" %>
<%# end %>

<script type="text/javascript">
  $('#season_id').select2({ placeholder: "Selecione a Temporada", allowClear: true });
</script>
