<div class="columns is-multiline">
  <% User.all.each do |user| %>
    <% if user.player_statistics.any? %>
      <div class="column is-one-quarter">
        <div class="contact-box center-version">
          <span>
            <%= image_tag avatar_url(user), class: 'img-circle' %>
            <div><strong class="title"><%= user.nome %></strong></div>
          </span>
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <tbody>
              <tr>
                <td>Kills</td>
                <td><%= user.total(:kills) %></td>
              </tr>
              <tr>
                <td>Deaths</td>
                <td><%= user.total(:deaths) %></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-skull"></i> KDR</td>
                <td><%= nan(user.grouped_total(:kdr)) %></td>
              </tr>
              <tr>
                <td>ADR</td>
                <td><%= nan(user.grouped_total(:adr)) %></td>
              </tr>
              <tr>
                <td>KAST</td>
                <td><%= nan(user.grouped_total(:kast)) %>%</td>
              </tr>
              <tr>
                <td colspan="2"><progress class="progress is-info" value="<%= user.grouped_total(:kast) %>" max="100"><%= user.grouped_total(:kast) %>%</progress></td>
              </tr>
            </tbody>
          </table>
          <div class="contact-box-footer">
            <% if current_user.admin %>
              <%= link_to user, class: 'card-footer-item button' do %>
                Histórico
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Estatísticas de Mapas</h1>
  </div>
</div>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <th width="5%">#</th>
    <th width="35%">Mapa</th>
    <th width="20%">Qtde de partidas</th>
    <th width="20%">Rounds CT</th>
    <th width="20%">Rounds TR</th>
  </thead>
  <tbody>
    <% current_game.maps.each do |map| %>
      <tr>
        <td><%= image_tag imagem_mapa_url(map), class: 'img-circle image anti-image-block is-24x24' %></td>
        <td><%= map.nome %> - <%= map.sigla %></td>
        <td><%= map.demos.count %></td>
        <td><%= map.demos.sum(&:ct_wins) %></td>
        <td><%= map.demos.sum(&:t_wins) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
