<div class="container">
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_employee_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Funcionário
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar um novo Funcionário.
    </div>
  </div>
  <hr>
  <table class="table is-narrow is-striped is-bordered">
    <thead>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Telefone</th>
      <th>Documento</th>
      <th>Salário</th>
      <th>Operações</th>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.nome %></td>
        <td><%= employee.matricula %></td>
        <td><%= format_phone employee.telefone %></td>
        <td><%= format_documento employee.documento %></td>
        <td><%= humanized_money_with_symbol employee.salario %></td>
        <td>
          <%= link_to "Editar", edit_employee_path(employee), :class => 'button' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="column has-text-centered">
    <%= paginate @employees %>
  </div>
</div>
