<div class="columns is-multiline">
  <% @demos.each.each do |demo| %>
    <div class="column is-one-quarter">
      <div class="contact-box center-version">
        <span>
          <%= image_tag(imagem_mapa_url(demo.map), class: "is-128x128") %>
          <div><h3><strong><%= demo.map.nome %></strong></h3></div>
          <div><h3><strong><%= demo.map.sigla %></strong></h3></div>
          <div><h3><strong>Demo: <%= demo.nome %>.dem</strong></h3></div>
          <div><%= demo.demo_rounds.count %> rounds</div>
          <div>Placar: <span class="subtitle">16:5</span></div>
        </span>
        <div class="contact-box-footer">
          <% if current_user.admin %>
            <%= link_to "Visualizar", demo_path(demo), :class => 'button' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
