<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <th>Mapa</th>
    <th>Nome</th>
    <th>Rounds</th>
    <th>Placar</th>
    <th>Opções</th>
  </thead>
  <tbody>
    <% @demos.each do |demo| %>
      <tr>
        <td>
          <%= image_tag("#{demo.map.sigla}.jpg", class: 'img-scaled-70') %>
        </td>
        <td>
          <%= link_to demo.map.nome, demo.map %>
          <br>
          <%= demo.nome %>
        </td>
        <td><%= demo.demo_rounds.count %></td>
        <td>16:5</td>
        <td>
          <%= link_to demo, class: 'button' do %>
            Visualizar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>