<div class="media center-version">
  <div class="media-left">
    <%= image_tag("#{@demo.map.sigla}.jpg", class: "image is-256x256", style: "display: inline") %>
  </div>
  <div class="media-content">
    <span>
      <span class="icon is-large">
        <i class="fa fa-trophy"></i>
      </span>
      <h3><strong><%= @demo.nome %></strong></h3>
      <div>
        <%= @demo.map.nome %><br>
        <%= @demo.map.sigla %>
      </div>
      <hr>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <th colspan="2">Dados gerais</th>
        </thead>
        <tbody>
          <tr>
            <td>Rounds</td><td><%= @demo.demo_rounds.count %></td>
          </tr>
          <tr>
            <td>Vitória CT</td><td><%= @demo.ct_wins %></td>
            </tr>
          <tr>
            <td>Vitória T</td><td><%= @demo.t_wins %></td>
          </tr>
        </tbody>
      </table>    
    </span>
  </div>
</div>

<div id="main-tabs" class="tabs is-toggle is-fullwidth">
  <ul>
    <li data-target="overview-detail" class="is-active">
      <a>Overview</a>
    </li>
    <li data-target="rounds-detail">
      <a>Rounds</a>
    </li>
  </ul>
</div>
<div class="p-2" id="maintabs-content">
  <div id="overview-detail" class="tab-content">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <th>Jogador</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th><i class="fa-solid fa-handshake"></i> Assists</th>
        <th>ADR</th>
        <th><i class="fa-solid fa-skull"></i> KDR</th>
        <th><i class="fa-solid fa-bomb"></i> UD</th>
        <th><i class="fa-solid fa-crosshairs"></i> Mira</th>
      </thead>
      <tbody>
        <% @demo.player_statistics.each do |player_statistic| %>
          <tr>
            <td>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= image_tag avatar_url(player_statistic.user), class: 'is-rounded' %>
                  </figure>
                </div>
                <div class="media-content" style="align-self: center">
                  <%= link_to player_statistic.user.nome, player_statistic.user %>
                </div>
              </div>
            </td>
            <td><%= player_statistic.kills %></td>
            <td><%= player_statistic.deaths %></td>
            <td><%= player_statistic.assists %></td>
            <td><%= player_statistic.adr %></td>
            <td><%= player_statistic.kdr %></td>
            <td><%= player_statistic.utilityDamage %></td>
            <td><%= (player_statistic.accuracy * 100).round %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="rounds-detail" class="tab-content is-hidden">
    <div id="round-tabs" class="tabs is-toggle is-fullwidth">
      <ul>
        <% @demo.demo_rounds.each do |round| %>
          <li data-target="<%= round.roundNum %>-detail" class="<%= 'is-active' if round.roundNum == 1 %>">
            <a><%= round.roundNum %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="roundtabs-content" class="p-2 tab-content">
      <% @demo.demo_rounds.each do |round| %>
        <div id="<%= round.roundNum %>-detail" class="tab-content media <%= 'is-hidden' if round.roundNum != 1 %>">
          <div class="p-2">
            <% round.demo_round_kills.order(:tick).each do |round_kill| %>
              <% attacker = User.find_by(steam: round_kill.attackerSteamID) %>
              <% victim = User.find_by(steam: round_kill.victimSteamID) %>
              <% assister = User.find_by(steam: round_kill.assisterSteamID) if round_kill.assisterSteamID %>
            
              <%= image_tag("#{round_kill.attackerSide.downcase}-icon.png", class: "image is-32x32", style: "display: inline") %>
              <span class="subtitle ml-3"><%= attacker.nome %></span> 
              <span>usou </span>
              <span class="subtitle"><%= round_kill.weapon %></span> 
              <span>para matar </span>
              <span class="subtitle mr-3"><%= victim.nome %></span>
              <%= image_tag("#{round_kill.victimSide.downcase}-icon.png", class: "image is-32x32", style: "display: inline") %>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>