<%= form_for @server_configuration do |f| %>
	<div class="columns">
		<div class="column is-third">
			<div class="field">
			  <label class="label">Nome</label>
			  <p class="control">
			    <%= f.text_field :nome, class: 'input', autocomplete: 'off', placeholder: 'Nome' %>
			  </p>
			</div>
		</div>
		<div class="column is-third">
			<div class="field">
			  <label class="label">Número de Partidas</label>
			  <p class="control">
			    <%= f.text_field :numero_partidas, class: 'input', autocomplete: 'off', placeholder: 'Nº de Partidas' %>
			  </p>
			</div>
		</div>
		<div class="column is-quarter">
			<div class="field">
			  <label class="label">Versão</label>
			  <p class="control">
			    <%= f.select :version, {'v1': 'v1', 'v2': 'v2'}, {}, class: 'input' %>
			  </p>
			</div>
		</div>
		<div class="column is-third"></div>
	</div>
	<div class="columns">
		<div class="column is-third">
			<div class="field">
			  <label class="label">DNS ou IP do servidor</label>
			  <p class="control">
			    <%= f.text_field :server_name_or_ip, class: 'input', autocomplete: 'off', placeholder: 'DNS ou IP do servidor' %>
			  </p>
			</div>
		</div>
		<div class="column is-third">
			<div class="field">
			  <label class="label">Usuário do servidor</label>
			  <p class="control">
			    <%= f.text_field :server_user, class: 'input', autocomplete: 'off', placeholder: 'Usuário do servidor' %>
			  </p>
			</div>
		</div>
		<div class="column is-third">
			<div class="field">
			  <label class="label">Senha do servidor</label>
			  <p class="control">
			    <%= f.text_field :server_password, class: 'input', autocomplete: 'off', placeholder: 'Senha do servidor' %>
			  </p>
			</div>
		</div>
		<div class="column is-third">
			<div class="field">
			  <label class="label">Porta do servidor</label>
			  <p class="control">
			    <%= f.text_field :server_port, class: 'input', autocomplete: 'off', placeholder: 'Porta do servidor' %>
			  </p>
			</div>
		</div>
	</div>
	<nav class="level">
		<div class="level-left"></div>
		<div class="level-right">
	    <p class="level-item"><%= link_to root_path, class: 'button is-danger' do %>Cancelar<% end %></p>
	    <p class="level-item"><%= link_to new_or_edit_path(@server_configuration), class: 'button' do %>Limpar<% end %></p>
			<p class="level-item"><%= f.submit "Salvar", :class => 'button is-success' %></p>
	  </div>
	</nav>
<% end %>
