<%= form_for @server_configuration do |f| %>
	<div class="columns">
		<div class="column is-third">
			<div class="field">
			  <label class="label">Nome</label>
			  <p class="control">
			    <%= f.text_field :nome, class: 'input', autocomplete: 'off', placeholder: 'Nome' %>
			  </p>
			</div>
		</div>
		<div class="column is-third">
			<div class="field">
			  <label class="label">Número de Partidas</label>
			  <p class="control">
			    <%= f.text_field :numero_partidas, class: 'input', autocomplete: 'off', placeholder: 'Nº de Partidas' %>
			  </p>
			</div>
		</div>
		<div class="column is-third"></div>
	</div>
	<nav class="level">
		<div class="level-left"></div>
		<div class="level-right">
	    <p class="level-item"><%= link_to root_path, class: 'button is-danger' do %>Cancelar<% end %></p>
	    <p class="level-item"><%= link_to new_or_edit_path(@server_configuration), class: 'button' do %>Limpar<% end %></p>
			<p class="level-item"><%= f.submit "Salvar", :class => 'button is-success' %></p>
	  </div>
	</nav>
<% end %>
