<% if current_user.admin %>
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_server_configuration_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Configuração
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar uma nova Configuração.
    </div>
  </div>
  <hr>
<% end %>

<div class="columns is-multiline">
  <% @server_configurations.each do |server_configuration| %>
    <div class="column is-one-quarter">
      <div class="contact-box center-version">
        <span>
          <div>
            <i class="fa fa-star"></i>&nbsp;
            <h3 style="display: inline;"><strong><%= server_configuration.nome %></strong></h3>
          </div>
          <div>Partidas: <%= server_configuration.numero_partidas %></div>
          <div><%= server_configuration.situacao_traduzida %></div>
        </span>
        <div class="contact-box-footer">
          <% if current_user.admin %>
            <%= link_to "Editar", edit_server_configuration_path(server_configuration), :class => 'button' %>
            <% unless server_configuration.ativo %>
              <%= link_to "Ativar", toggle_status_server_configuration_path(server_configuration), :method => :post, remote: true, :class => 'button' %>
            <% end %>
          <% end %>          
        </div>
      </div>
    </div>
  <% end %>
</div>
