<% if current_user.admin %>
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_map_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Mapa
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar um novo Mapa.
    </div>
  </div>
  <hr>
<% end %>

<div class="columns is-multiline">
  <% @maps.each do |map| %>
    <div class="column is-one-quarter">
      <div class="contact-box center-version">
        <span>
          <%= image_tag(imagem_mapa_url(map), class: "is-128x128") %>
          <div><h3><strong><%= map.nome %></strong></h3></div>
          <div><h3><strong><%= map.sigla %></strong></h3></div>
          <div><h3><strong>Jogo: <%= map.game.sigla %></strong></h3></div>
          <div><%= label_status map.ativo %></div>
          <div>Jogado <%= Round.joins(:winner).where(map_id: map.id).count %> vez(es)</div>
        </span>
        <div class="contact-box-footer">
          <% if current_user.admin %>
            <%= link_to "Editar", edit_map_path(map), :class => 'button' %>
            <% if map.ativo %>
              <%= link_to "Inativar", toggle_status_map_path(map), :method => :post, remote: true, :class => 'button' %>
            <% else %>
              <%= link_to "Ativar", toggle_status_map_path(map), :method => :post, remote: true, :class => 'button' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
