<% if current_user.admin %>
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_map_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Mapa
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar um novo Mapa.
    </div>
  </div>
  <hr>
<% end %>

<table class="table is-narrow is-striped is-bordered">
  <thead>
    <th>Nome/Sigla</th>
    <th>Imagem</th>
    <th>Status</th>
    <% if current_user.admin %>
      <th>Operações</th>
    <% end %>
  </thead>
  <tbody>
    <% @maps.each do |map| %>
    <tr>
      <td class="td-has-ul">
        <ul>
          <li><%= map.nome %></li>
          <li><%= map.sigla %></li>
        </ul>
      </td>
      <td><%= image_tag(imagem_mapa_url(map), class: "image is-128x128") %></td>
      <td><%= label_status map.ativo %></td>
      <% if current_user.admin %>
        <td>
          <%= link_to "Editar", edit_map_path(map), :class => 'button' %>
          <% if map.ativo %>
            <%= link_to "Inativar", toggle_status_map_path(map), :method => :post, remote: true, :class => 'button' %>
          <% else %>
            <%= link_to "Ativar", toggle_status_map_path(map), :method => :post, remote: true, :class => 'button' %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
