<% if @round.errors.any? %>
  <div id="field_with_errors" class="message is-danger">
  	<div class="message-header">Ocorreram erros ao tentar salvar o registro</div>
  	<div class="message-body">
	    <ul>
	    <% @round.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	   </div>
  </div>
<% end %>
<h1 class="title"><%= @tournament.nome %> - Editar Round</h1>
<hr>
<%= form_for [@tournament, @round] do |f| %>
	<div class="columns">
		<div class="column">
				<table class="table is-narrow is-striped is-bordered">
					<thead>
            <th class="has-text-centered-important"><%= @round.winner.team.nome %></th>
            <th>Operação</th>
					</thead>
					<tbody>
  					<% @round.winner.team.users.each do |user| %>
  						<tr>
  							<td><%= image_tag avatar_url(user), class: 'img-circle image anti-image-block is-24x24' %> <%= user.nome %></td>
                <td>
                  <%= link_to move_to_loser_tournament_rounds_path(round_id: @round.id, user_id: user.id), :class => 'button' do %>
                    <i class="fa fa-arrow-right"></i>
                  <% end %>
                </td>
  						</tr>
  					<% end %>
					</tbody>
				</table>
		</div>
    <div class="column">
				<table class="table is-narrow is-striped is-bordered">
					<thead>
            <th>Operação</th>
            <th class="has-text-centered-important"><%= @round.loser.team.nome %></th>
					</thead>
					<tbody>
  					<% @round.loser.team.users.each do |user| %>
  						<tr>
                <td>
                  <%= link_to move_to_winner_tournament_rounds_path(round_id: @round.id, user_id: user.id), :class => 'button' do %>
                    <i class="fa fa-arrow-left"></i>
                  <% end %>
                </td>
                <td><%= image_tag avatar_url(user), class: 'img-circle image anti-image-block is-24x24' %> <%= user.nome %></td>
  						</tr>
  					<% end %>
					</tbody>
				</table>
		</div>
	</div>  

	<nav class="level">
		<div class="level-left"></div>
		<div class="level-right">
	    <p class="level-item"><%= link_to tournament_path(@tournament), class: 'button is-danger' do %>Cancelar<% end %></p>
			<p class="level-item"><%= f.submit "Salvar", :class => 'button is-success' %></p>
	  </div>
	</nav>
<% end %>
