<div class="columns">
  <div class="column">
    <div class="contact-box">
      <div class="columns">
        <div class="column is-one-third">
          <%= image_tag avatar_url(@user), class: 'img-circle' %>
        </div>
        <div class="column">
          <h3 class="subtitle">
            <strong><%= @user.nome %></strong><br>
            Partidas: <%= Winner.joins(team: :users).where(users: {id: @user.id}).count + Loser.joins(team: :users).where(users: {id: @user.id}).count %><br>
            Vitórias: <%= Winner.joins(team: :users).where(users: {id: @user.id}).count %><br>
            Derrotas: <%= Loser.joins(team: :users).where(users: {id: @user.id}).count %>
          </h3>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Torneio</label>
            <p class="control">
              <%= select_tag :tournament_id, options_for_select(Tournament.all.order(created_at: :desc).collect {|t| [t.nome, t.id]}, params[:tournament_id]), {class: 'input history-detail', include_blank: true} %>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Mapa</label>
            <p class="control">
              <%= select_tag :map_id, options_for_select(Map.all.order(nome: :asc).collect {|m| [m.nome, m.id]}, params[:map_id]), {class: 'input history-detail', include_blank: true} %>
            </p>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th colspan="12">Estatísticas de KDR</th>
              </tr>
              <tr>
                <th>Kills</th>
                <th>Deaths</th>
                <th>Ratio</th>
                <th>Placar Geral</th>
                <th>Suicídos</th>
                <th>Team Kills</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @rankme.kills %></td>
                <td><%= @rankme.deaths %></td>
                <td><%= @rankme.ratio %></td>
                <td><%= @rankme.score %></td>
                <td><%= @rankme.suicides %></td>
                <td><%= @rankme.tk %></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th colspan="12">Estatísticas Gerais</th>
              </tr>
              <tr>
                <th>Disparos/Acertos/Mira(%)</th>
                <th>Kills por headshot</th>
                <th>Rounds como TR/Vitórias como TR</th>
                <th>Rounds como CT/Vitórias como CT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @rankme.shots %>/<%= @rankme.hits %>/<%= ((@rankme.hits.to_f/@rankme.shots.to_f)*100).round(2) %>%</td>
                <td><%= @rankme.headshots %></td>
                <td><%= @rankme.rounds_tr %>/<%= @rankme.tr_win %></td>
                <td><%= @rankme.rounds_ct %>/<%= @rankme.ct_win %></td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th>C4 plantadas</th>
                <th>C4 explodidas</th>
                <th>C4 defusadas</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @rankme.c4_planted %></td>
                <td><%= @rankme.c4_exploded %></td>
                <td><%= @rankme.c4_defused %></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <%
          arms = [
              [image: '300px-Css_frag.png', title: 'hegrenade', atalho: '(04)', point: @rankme.hegrenade, percent: @rankme.hegrenade_percentage],
              [image: 'Css_flashbang.png', title: 'flashbang', atalho: '(03)', point: @rankme.flashbang, percent: @rankme.flashbang_percentage],
              [image: 'Css_smoke.png', title: 'smokegrenade', atalho: '(05)', point: @rankme.smokegrenade, percent: @rankme.smokegrenade_percentage],
              [image: '300px-Css_knives.png', title: 'knife', atalho: '(3)', point: @rankme.knife, percent: @rankme.knife_percentage],
              [image: '300px-Css_glock16.png', title: 'glock', atalho: '(B11)', point: @rankme.glock, percent: @rankme.glock_percentage],
              [image: '300px-Css_usp.png', title: 'usp', atalho: '(B12)', point: @rankme.usp, percent: @rankme.usp_percentage],
              [image: '300px-Css_p228.png', title: 'p228', atalho: '(B13)', point: @rankme.p228, percent: @rankme.p228_percentage],
              [image: '300px-Css_deagle.png', title: 'deagle', atalho: '(B14)TR', point: @rankme.deagle, percent: @rankme.deagle_percentage],
              [image: '300px-Css_beretta.png', title: 'elite', atalho: '(B15)TR', point: @rankme.elite, percent: @rankme.elite_percentage],
              [image: '300px-Css_es57.png', title: 'fiveseven', atalho: '(B15)CT', point: @rankme.fiveseven, percent: @rankme.fiveseven_percentage],
              [image: '300px-Css_m3.png', title: 'm3', atalho: '(B21)', point: @rankme.m3, percent: @rankme.m3_percentage],
              [image: '300px-Css_xm1014.png', title: 'xm1014', atalho: '(B22)', point: @rankme.xm1014, percent: @rankme.xm1014_percentage],
              [image: '300px-Css_mac10.png', title: 'mac10', atalho: '(B31)TR', point: @rankme.mac10, percent: @rankme.mac10_percentage],
              [image: '300px-Css_tmp.png', title: 'tmp', atalho: '(B31)CT', point: @rankme.tmp, percent: @rankme.tmp_percentage],
              [image: '300px-Css_mp5.png', title: 'mp5navy', atalho: '(B32)', point: @rankme.mp5navy, percent: @rankme.mp5navy_percentage],
              [image: '300px-Css_ump.png', title: 'ump45', atalho: '(B33)', point: @rankme.ump45, percent: @rankme.ump45_percentage],
              [image: '300px-Css_p90.png', title: 'p90', atalho: '(B34)', point: @rankme.p90, percent: @rankme.p90_percentage],
              [image: '300px-Css_galil.png', title: 'galil', atalho: '(B41)TR', point: @rankme.galil, percent: @rankme.galil_percentage],
              [image: '300px-Css_ak47.png', title: 'ak47', atalho: '(B42)TR', point: @rankme.ak47, percent: @rankme.ak47_percentage],
              [image: '300px-Css_sg-550.png', title: 'sg550', atalho: '(B46)CT', point: @rankme.sg550, percent: @rankme.sg550_percentage],
              [image: '300px-Css_famas.png', title: 'famas', atalho: '(B41)CT', point: @rankme.famas, percent: @rankme.famas_percentage],
              [image: '300px-Css_m4a1.png', title: 'm4a1', atalho: '(B43)CT', point: @rankme.m4a1, percent: @rankme.m4a1_percentage],
              [image: '300px-Css_aug.png', title: 'aug', atalho: '(B44)CT', point: @rankme.aug, percent: @rankme.aug_percentage],
              [image: '300px-Css_scout.png', title: 'scout', atalho: '(B43)TR(B42CT)', point: @rankme.scout, percent: @rankme.scout_percentage],
              [image: '300px-Css_sg-552.png', title: 'sg552', atalho: '(B44)TR', point: @rankme.sg552, percent: @rankme.sg552_percentage],
              [image: '300px-Css_awp.png', title: 'awp', atalho: '(B45)TR(B46)CT', point: @rankme.awp, percent: @rankme.awp_percentage],
              [image: '300px-Css_sg-1.png', title: 'g3sg1', atalho: '(B46)TR', point: @rankme.g3sg1, percent: @rankme.g3sg1_percentage],
              [image: '300px-Css_m249.png', title: 'm249', atalho: '(B51)', point: @rankme.m249, percent: @rankme.m249_percentage]
          ]
          arms_sort = arms.sort_by{ |h| h[0][:point] }.reverse!
          offset = rand(User.count)
          %>
          <div class="columns">
            <div class="column is-one-quarter">
              <div class="csbody">
                <div class="csperfil"><%= image_tag avatar_url(User.offset(offset).first), class: 'img-circle' %></div>
                <div class="cshead"><span><%= @rankme.head %> (<%= ((@rankme.head.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <div class="cschest"><span><%= @rankme.chest %> (<%= ((@rankme.chest.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <div class="csstomach"><span><%= @rankme.stomach %> (<%= ((@rankme.stomach.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <div class="csleftarm"><span><%= @rankme.left_arm %> (<%= ((@rankme.left_arm.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <div class="csrightarm"><span><%= @rankme.right_arm %> (<%= ((@rankme.right_arm.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <div class="csleftleg"><span><%= @rankme.left_leg %> (<%= ((@rankme.left_leg.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <div class="csrightleg"><span><%= @rankme.right_leg %> (<%= ((@rankme.right_leg.to_f/@rankme.hits.to_f)*100).round(2) %>%)</span></div>
                <%= image_tag(asset_path("csbody.png")) %>
              </div>
            </div>
            <div class="column contact-box"" style="padding-left: 80px;">
              <div class="columns is-multiline">
                <% arms_sort.each do |v| %>
                <div class="is-card">
                  <div class="card-image">
                    <%= image_tag(asset_path("cssweapons/#{v[0][:image]}"), class: 'image anti-image-block is-24x24') %> <%= v[0][:title] %>
                  </div>
                  <div class="card-content">
                    <div class="content">
                     <strong><%= v[0][:point] %></strong> (<%= v[0][:percent] %>%)<br>
                      <small><%= v[0][:atalho] %></small>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<%= high_chart("historicchart", Chart.historic_chart(@user.id)) %>
<script type="text/javascript">
$(".history-detail").on("change", function() {
  window.location.href = "/users/<%= @user.id %>?tournament_id="+$("#tournament_id").val()+"&map_id="+$("#map_id").val();
});
</script>
<style type="text/css">
.is-card {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 20%;
}
.csperfil {

}

.csbody {
  position: relative;
  display: inline-block;
}
.csperfil {
  position: absolute;    
  height: 100%;
  text-align: center;    
  width: 100%;
  padding-top: 4px;
  font-weight: bold;
  font-size: 10px;
}
.csperfil:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.cshead {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  padding-top: 4px;
  font-weight: bold;
  font-size: 10px;
}
.cshead:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.cschest {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  padding-top: 65px;
  font-weight: bold;
  font-size: 10px;
}
.cschest:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.csstomach {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  padding-top: 97px;
  font-weight: bold;
  font-size: 10px;
}
.csstomach:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.csleftarm {
  position: absolute;
  height: 100%;
  text-align: left;
  width: 100%;
  padding-top: 50px;
  font-weight: bold;
  font-size: 10px;
}
.csleftarm:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.csrightarm {
  position: absolute;
  height: 100%;
  text-align: right;
  width: 100%;
  padding-top: 50px;
  font-weight: bold;
  font-size: 10px;
}
.csrightarm:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.csleftleg {
  position: absolute;
  height: 100%;
  text-align: left;
  width: 100%;
  padding-top: 210px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 10px;
}
.csleftleg:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.csrightleg {
  position: absolute;
  height: 100%;
  text-align: right;
  width: 100%;
  padding-top: 180px;
  font-weight: bold;
  font-size: 10px;
}
.csrightleg:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.cshead > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
.cschest > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
.csstomach > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
.csleftarm > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
.csrightarm > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
.csleftleg > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
.csrightleg > span {padding: 5px; background-color: #f7f7c8; line-height: 2; border-radius: 25px;}
</style>
