<div class="columns">
  <div class="column">
    <div class="contact-box">
      <div class="columns">
        <div class="column is-one-third">
          <%= image_tag avatar_url(@user), class: 'img-circle' %>
        </div>
        <div class="column">
          <h3 class="subtitle">
            <strong><%= @user.nome %></strong><br>
            Rounds jogados: <%= Winner.joins(team: :users).where(users: {id: @user.id}).count + Loser.joins(team: :users).where(users: {id: @user.id}).count %><br>
            Rounds ganhos: <%= Winner.joins(team: :users).where(users: {id: @user.id}).count %>
          </h3>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th colspan="12">Pontos</th>
              </tr>
              <tr>
                <th>kills</th>
                <th>deaths</th>
                <th>score</th>
                <th>suicides</th>
                <th>tk</th>
                <th>shots</th>
                <th>hits</th>
                <th>headshots</th>
                <th>connected</th>
                <th>rounds_tr</th>
                <th>rounds_ct</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @rankme.kills %></td>
                <td><%= @rankme.deaths %></td>
                <td><%= @rankme.score %></td>
                <td><%= @rankme.suicides %></td>
                <td><%= @rankme.tk %></td>
                <td><%= @rankme.shots %></td>
                <td><%= @rankme.hits %></td>
                <td><%= @rankme.headshots %></td>
                <td><%= @rankme.connected %></td>
                <td><%= @rankme.rounds_tr %></td>
                <td><%= @rankme.rounds_ct %></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th colspan="15">Armas</th>
              </tr>
              <tr>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_knives.png'), class: 'image anti-image-block is-24x24', title: 'knife') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_glock16.png'), class: 'image anti-image-block is-24x24', title: 'glock') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_usp.png'), class: 'image anti-image-block is-24x24', title: 'usp') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_p228.png'), class: 'image anti-image-block is-24x24', title: 'p228') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_deagle.png'), class: 'image anti-image-block is-24x24', title: 'deagle') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_beretta.png'), class: 'image anti-image-block is-24x24', title: 'elite') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_es57.png'), class: 'image anti-image-block is-24x24', title: 'fiveseven') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_m3.png'), class: 'image anti-image-block is-24x24', title: 'm3') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_xm1014.png'), class: 'image anti-image-block is-24x24', title: 'xm1014') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_mac10.png'), class: 'image anti-image-block is-24x24', title: 'mac10') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_tmp.png'), class: 'image anti-image-block is-24x24', title: 'tmp') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_mp5.png'), class: 'image anti-image-block is-24x24', title: 'mp5navy') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_ump.png'), class: 'image anti-image-block is-24x24', title: 'ump45') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_p90.png'), class: 'image anti-image-block is-24x24', title: 'p90') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_galil.png'), class: 'image anti-image-block is-24x24', title: 'galil') %></th>
              </tr>
              <tr>
                <td><%= @rankme.knife %></td>
                <td><%= @rankme.glock %></td>
                <td><%= @rankme.usp %></td>
                <td><%= @rankme.p228 %></td>
                <td><%= @rankme.deagle %></td>
                <td><%= @rankme.elite %></td>
                <td><%= @rankme.fiveseven %></td>
                <td><%= @rankme.m3 %></td>
                <td><%= @rankme.xm1014 %></td>
                <td><%= @rankme.mac10 %></td>
                <td><%= @rankme.tmp %></td>
                <td><%= @rankme.mp5navy %></td>
                <td><%= @rankme.ump45 %></td>
                <td><%= @rankme.p90 %></td>
                <td><%= @rankme.galil %></td>
              </tr>
              <tr>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_ak47.png'), class: 'image anti-image-block is-24x24', title: 'ak47') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_sg-550.png'), class: 'image anti-image-block is-24x24', title: 'sg550') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_famas.png'), class: 'image anti-image-block is-24x24', title: 'famas') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_m4a1.png'), class: 'image anti-image-block is-24x24', title: 'm4a1') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_aug.png'), class: 'image anti-image-block is-24x24', title: 'aug') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_scout.png'), class: 'image anti-image-block is-24x24', title: 'scout') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_sg-552.png'), class: 'image anti-image-block is-24x24', title: 'sg552') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_awp.png'), class: 'image anti-image-block is-24x24', title: 'awp') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_sg-1.png'), class: 'image anti-image-block is-24x24', title: 'g3sg1') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_m249.png'), class: 'image anti-image-block is-24x24', title: 'm249') %></th>
                <th><%= image_tag(asset_path('cssweapons/300px-Css_frag.png'), class: 'image anti-image-block is-24x24', title: 'hegrenade') %></th>
                <th><%= image_tag(asset_path('cssweapons/Css_flashbang.png'), class: 'image anti-image-block is-24x24', title: 'flashbang') %></th>
                <th><%= image_tag(asset_path('cssweapons/Css_smoke.png'), class: 'image anti-image-block is-24x24', title: 'smokegrenade') %></th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <td><%= @rankme.ak47 %></td>
                <td><%= @rankme.sg550 %></td>
                <td><%= @rankme.famas %></td>
                <td><%= @rankme.m4a1 %></td>
                <td><%= @rankme.aug %></td>
                <td><%= @rankme.scout %></td>
                <td><%= @rankme.sg552 %></td>
                <td><%= @rankme.awp %></td>
                <td><%= @rankme.g3sg1 %></td>
                <td><%= @rankme.m249 %></td>
                <td><%= @rankme.hegrenade %></td>
                <td><%= @rankme.flashbang %></td>
                <td><%= @rankme.smokegrenade %></td>
                <td colspan="2"></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th colspan="7">Corpo</th>
              </tr>
              <tr>
                <th>head</th>
                <th>chest</th>
                <th>stomach</th>
                <th>left_arm</th>
                <th>right_arm</th>
                <th>left_leg</th>
                <th>right_leg</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @rankme.head %></td>
                <td><%= @rankme.chest %></td>
                <td><%= @rankme.stomach %></td>
                <td><%= @rankme.left_arm %></td>
                <td><%= @rankme.right_arm %></td>
                <td><%= @rankme.left_leg %></td>
                <td><%= @rankme.right_leg %></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th colspan="6">Acessórios</th>
              </tr>
              <tr>
                <th>c4_planted</th>
                <th>c4_exploded</th>
                <th>c4_defused</th>
                <th>ct_win</th>
                <th>tr_win</th>
                <th>hostages_rescued</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @rankme.c4_planted %></td>
                <td><%= @rankme.c4_exploded %></td>
                <td><%= @rankme.c4_defused %></td>
                <td><%= @rankme.ct_win %></td>
                <td><%= @rankme.tr_win %></td>
                <td><%= @rankme.hostages_rescued %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<%= high_chart("historicchart", Chart.historic_chart(@user.id)) %>











