<% if current_user.admin %>
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_tournament_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Torneio
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar um novo Torneio.
    </div>
  </div>
  <hr>
<% end %>

<div class="columns is-multiline">
  <% @tournaments.each do |tournament| %>
    <div class="column is-one-third">
      <div class="contact-box center-version">
        <span>
          <span class="icon is-large">
            <i class="fa fa-trophy"></i>
          </span>
          <h3><strong><%= link_to tournament.nome, tournament %></strong></h3>
          <div><%= tournament.texto_oficial %></div>
          <hr>
          <h3><strong>Times</strong></h3>
          <div class="columns">
            <% tournament.teams.each do |team| %>
              <div class="column is-half">
                <%= team.nome %>
                <br><br>
                <% team.users.each do |user| %>
                  <%= image_tag avatar_url(user), class: 'img-circle image anti-image-block is-24x24' %>
                <% end %>
                <br><br>
                <%= Winner.joins(:round).where(team_id: team.id).sum("rounds.pontos") %> pontos
                -
                <%= Winner.joins(:round).where(team_id: team.id).count %> vitória(s)
              </div>
            <% end %>
          </div>
        </span>
        <div class="contact-box-footer">
          <% if current_user.admin %>
            <%= link_to "Editar", edit_tournament_path(tournament), :class => 'button' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
