<%= form_for @customer do |f| %>
	<div class="control is-horizontal">  
	  <div class="control is-grouped">
	    <p class="control is-expanded">
	  		<label class="label">Nome</label>
	    	<%= f.text_field :nome, class: 'input', autocomplete: 'off', placeholder: 'Nome' %>
	    </p>
	    <p class="control is-expanded">
	  		<label class="label">Documento</label>
	      <%= f.text_field :documento, class: 'input', autocomplete: 'off', placeholder: 'Documento (CPF/CNPJ)' %>
	    </p>
	  </div>
	</div>
	<div class="control is-horizontal">  
		<div class="control is-grouped">
	    <p class="control is-expanded">
	  		<label class="label">Número Cliente</label>
	    	<%= f.text_field :numero_cliente, class: 'input', autocomplete: 'off', placeholder: 'Número Cliente' %>
	    </p>
	    <p class="control is-expanded">
	  		<label class="label">Data de Nascimento</label>
	      <%= f.text_field :data_nascimento, class: 'input', autocomplete: 'off', placeholder: 'Data de Nascimento' %>
	    </p>
	  </div>
	</div>
	<div class="control is-horizontal">
		<div class="control is-grouped">	
	    <p class="control is-expanded">
	  		<label class="label">Telefone</label>
	    	<%= f.text_field :telefone, class: 'input', autocomplete: 'off', placeholder: 'Telefone' %>
	    </p>
	    <p class="control is-expanded">
	  		<label class="label">Email</label>
	      <%= f.text_field :email, class: 'input', autocomplete: 'off', placeholder: 'Email' %>
	    </p>
	  </div>
	</div>
	<div class="control is-horizontal">
		<div class="control is-grouped">	
	    <p class="control is-expanded">
	  		<label class="label">Endereço</label>
	    	<%= f.text_area :endereco, class: 'textarea', autocomplete: 'off', placeholder: 'Endereço' %>
	    </p>
	  </div>
	</div>
	
	<div class="control is-horizontal">
	  <%= link_to_add_association "<i class='fa fa-plus'></i>&nbsp;Adicionar Empresa".html_safe, f, :customer_companies,
	      :data => {"association-insertion-method" => "after" },
	      :class => 'button', :render_options => { :wrapper => 'inline' } %>
  </div>
  <div id='customer_companies'>
    <%= f.fields_for :customer_companies do |customer_company| %>
      <%= render 'customer_company_fields', f: customer_company %>
    <% end %>
  </div>

	<h3 class="title is-3 has-text-centered">Produtos</h3>
	<table class="table is-bordered">
	  <% @products.each_with_index do |product, index| %>
	  <tr>
	    <td><%= product.nome %></td>
	    <td>
	      <input type="hidden" name="customer[customer_products_attributes][<%= index%>][id]" value="<%= CustomerProduct.by_product_by_customer(product.id, @customer.id).try(:id) %>">	 
	      <input type="hidden" name="customer[customer_products_attributes][<%= index%>][product_id]" value="<%= product.id %>">	      
		    <p class="control is-expanded has-addons">
				  <span class="select">
			    	<select name="customer[customer_products_attributes][<%= index%>][operacao]">
			    		<% if CustomerProduct.by_product_by_customer(product.id, @customer.id).try(:operacao) == '+' %>
			    			<% options = '<option selected="selected" value="+">+</option><option value="-">-</option>' %>
							<% else %>							
			    			<% options = '<option value="+">+</option><option selected="selected" value="-">-</option>' %>
			    		<% end %>
			    		<%= options.html_safe %>
					</select>
				  </span>
	      	<input type="text" name="customer[customer_products_attributes][<%= index%>][valor]" value="<%= CustomerProduct.by_product_by_customer(product.id, @customer.id).try(:valor) %>" autocomplete="off" class="valor input" placeholder="Valor Variável">
				</p>
	    </td>
	  </tr>
	  <% end %>
	</table>

	<div class="control is-horizontal">
		<div class="control is-grouped">	
	    <p class="control is-expanded">
	  		<label class="label">Bonificação por Pontualidade</label>
	    	<%= f.text_field :bonificacao_pontualidade, class: 'valor input', autocomplete: 'off', placeholder: 'Bonificação por Pontualidade' %>
	    </p>	
	    <p class="control is-expanded"></p>	
	    <p class="control is-expanded"></p>	
	    <p class="control is-expanded"></p>
	  </div>
	</div>

	<nav class="level">
		<div class="level-left"></div>
		<div class="level-right">
	    <p class="level-item"><%= link_to root_path, class: 'button is-danger' do %>Cancelar<% end %></p>
	    <p class="level-item"><%= link_to new_or_edit_path(@customer), class: 'button' do %>Limpar<% end %></p>
			<p class="level-item"><%= f.submit "Salvar", :class => 'button is-success' %></p>
	  </div>
	</nav>
<% end %>