<table class="table">
  <thead>
    <tr>
      <th colspan="5" class="pull-center">Conta - <%= @customer.nome %></th>
    </tr>
    <tr>
      <th>Data</th>
      <th>Vendedor</th>
      <th>Tipo</th>
      <th><div class="pull-right">Valor Total</div></th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <% total_venda = 0 %>
    <% total_recebimento = 0 %>
    <% @bills.each do |b| %>
      <% total = b.total/100.to_f %>
      <% total_venda += total if b.tipo == 'venda' %>
      <% total_recebimento += total if b.tipo == 'recebimento' %>
      <% tipo_cor = 'tag is-info' %>
      <% tipo_cor = 'tag is-primary' if b.tipo == 'recebimento' %>
      <tr>
        <td><%= format_date b.data %></td>
        <td><%= Person.find(b.user_id).nome %></td>
        <td><div class="<%= tipo_cor %>"><%= b.tipo %></div></td>
        <td><div class="pull-right"><%= humanized_money_with_symbol total %></div></td>
        <td>
          <% if b.tipo == 'venda' %>
            <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, edit_sale_path(b.id), :class => "button", target: :_blank %>
          <% else %>
            <%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, edit_receipt_path(b.id), :class => "button", target: :_blank %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% total_cor = 'hero is-success' %>
    <% total_cor = 'hero is-danger' if total_recebimento - total_venda < 0 %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3"><strong>Total Vendas</strong></td>
      <td colspan="2"><div class="hero is-info pull-right"><%= humanized_money_with_symbol total_venda %></div></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Total Recebimentos</strong></td>
      <td colspan="2"><div class="hero is-primary pull-right"><%= humanized_money_with_symbol total_recebimento %></div></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Total Caixa</strong></td>
      <td colspan="2"><div class="<%= total_cor %> pull-right"><%= humanized_money_with_symbol total_recebimento - total_venda %></div></td>
    </tr>
  </tfoot>
</table>