<div class="columns is-multiline">
  <% @games.each do |game| %>
    <div class="column is-one-third">
      <div class="contact-box center-version">
        <span>
          <div>
            <i class="fa fa-star"></i>&nbsp;
            <h3 style="display: inline;"><strong><%= game.nome %></strong></h3>
          </div>
          <br>
          <div>Sigla: <%= game.sigla %></div>
          <div>Login: <%= game.login %></div>
          <br>
          <div><%= game.situacao_traduzida %></div>
        </span>
        <div class="contact-box-footer">
          <% if current_user.admin %>
            <%= link_to "Editar", edit_game_path(game), :class => 'button' %>
            <% unless game.ativo %>
              <%= link_to "Ativar", toggle_status_game_path(game), :method => :post, remote: true, :class => 'button' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
