<div class="columns" data-turbolinks="false">
  <div class="column is-third">
    <h2 class="title">Selecione os Jogadores para Comparação</h2>
  </div>
</div>

<div class="columns" data-turbolinks="false">
  <div class="column is-third">
    <%= select_tag :players, options_for_select(User.all.order(:nome).collect {|u| [u.nome, u.id]}, params[:tournament_id]), {multiple: true, class: 'input history-detail', include_blank: true} %>
  </div>
  <div class="column is-third">
    <a id="todos" class="button">Comparar Todos</a>
    <a id="limpar" class="button">Limpar Comparação</a>
  </div>
</div>

<div class="columns" data-turbolinks="false">
  <div class="column is-quarter">
    <%= select_tag :game_id, options_for_select(Game.all.order(created_at: :desc).collect {|s| [s.nome, s.id]}, params[:game_id]), {class: 'input history-detail', include_blank: true} %>
  </div>
  <div class="column is-quarter">
    <%= select_tag :season_id, options_for_select(Season.all.order(created_at: :desc).collect {|s| [s.nome, s.id]}, params[:season_id]), {class: 'input history-detail', include_blank: true} %>
  </div>
  <div class="column is-quarter">
    <%= select_tag :tournament_id, options_for_select(Tournament.all.order(created_at: :desc).collect {|t| [t.nome, t.id]}, params[:tournament_id]), {class: 'input history-detail', include_blank: true} %>
  </div>
  <div class="column is-quarter">
    <%= select_tag :map_id, options_for_select(Map.all.where(ativo: true).order(nome: :asc).collect {|m| [m.nome, m.id]}, params[:map_id]), {class: 'input history-detail', include_blank: true} %>
  </div>
</div>

<div id="compare"></div>

<script type="text/javascript">
  $(function() {
    $('#loading-indicator').removeClass('show');  // hide it initially.
    $(document)
      .ajaxStart(function() {
        $('#loading-indicator').addClass('show'); // show on any Ajax event.
      })
      .ajaxStop(function() {
        $('#loading-indicator').removeClass('show'); // hide it when it is done.
    });
  });

  $('#players').select2({ placeholder: "Selecione os jogadores" });
  $('#game_id').select2({ placeholder: "Selecione o Jogo", allowClear: true });
  $('#season_id').select2({ placeholder: "Selecione a Temporada", allowClear: true });
  $('#tournament_id').select2({ placeholder: "Selecione o Torneio", allowClear: true });
  $('#map_id').select2({ placeholder: "Selecione o Mapa", allowClear: true });
  $('#season_id').on("change", function() {
    $.ajax({
      url: "/get_tournaments_from_season",
      type: "GET",
      data: {
        season_id: this.value
      },
      success: function(data) {
        $("#tournament_id").empty();
        $("<option value=''></option>").appendTo("#tournament_id");
        $.each(data, function() {
          $("<option value='"+this.id+"'>"+this.nome+"</option>").appendTo("#tournament_id");
        });
      }
    });
  });
  $('#tournament_id').on("change", function() {
    $.ajax({
      url: "/get_maps_from_tournament",
      type: "GET",
      data: {
        game_id: $("#game_id").val()
        tournament_id: this.value
      },
      success: function(data) {
        $("#map_id").empty();
        $("<option value=''></option>").appendTo("#map_id");
        $.each(data, function() {
          $("<option value='"+this.id+"'>"+this.nome+"</option>").appendTo("#map_id");
        });
      }
    });
  });
  $('select').on("change", function() {
    $.ajax({
      url: "/compare_players",
      type: "GET",
      data: {
        players: $('#players').val(),
        game_id: $('#game_id').val(),
        season_id: $('#season_id').val(),
        tournament_id: $('#tournament_id').val(),
        map_id: $('#map_id').val()
      },
      success: function(html) {
        $("#compare").html(html);
      }
    });
  });
  $('#todos').on("click", function() {
    var selectedItems = [];
    var allOptions = $("#players option");
    allOptions.each(function() {
      if ($(this).val().length > 0) {
        selectedItems.push($(this).val());
      }
    });
    $("#players").val(selectedItems).trigger("change");
  });
  $('#limpar').on("click", function() {
    $("#players").val([]).trigger("change");
  });
</script>

<style type="text/css">
#loading-indicator { display : none; }
#loading-indicator.show {
  display : block;
  position : fixed;
  z-index: 100;
  background-image : url(<%= asset_path 'loading.gif' %>);
  background-color:#666;
  opacity : 0.4;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}
</style>
