<div class="columns">
  <div class="column">
    <div class="contact-box">
      <div class="columns">
        <div class="column">
          <%= image_tag avatar_url(@user), class: 'img-circle' %>
          <br>
          <strong class="title"><%= @user.nome %></strong>
        </div>
      </div>
      <div id="data" class="columns">
        <div class="column">
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th width="12%">Kills</th>
                <th width="12%">Deaths</th>
                <th width="12%">Assists</th>
                <th width="12%">KDR</th>
                <th width="12%">ADR</th>
                <th width="12%">KAST</th>
                <th width="12%">Suicídos</th>
                <th width="12%">Team Kills</th>
              </tr>
            </thead>
            <tbody>
              <% if @user %>
                <tr>
                  <td><%= @user.total(:kills) %></td>
                  <td><%= @user.total(:deaths) %></td>
                  <td><%= @user.total(:assists) %></td>
                  <td><%= @user.grouped_total(:kdr) %></td>
                  <td><%= @user.grouped_total(:adr) %></td>
                  <td>
                    <%= @user.grouped_total(:kast) %>%
                    <br>
                    <progress class="progress is-info" value="<%= @user.grouped_total(:kast) %>" max="100"><%= @user.grouped_total(:kast) %>%</progress>
                  </td>
                  <td><%= @user.total(:suicides) %></td>
                  <td><%= @user.total(:teamKills) %></td>
                </tr>
              <% else %>
                <tr>
                  <td colspan="5">Nenhum dado registrado!</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th width="14%">Disparos</th>
                <th width="14%">Acertos</th>
                <th width="14%">Mira(%)</th>
                <th width="14%">Headshots</th>
                <th width="14%">Headshots(%)</th>
                <th width="14%">Plants</th>
                <th width="14%">Defuses</th>
              </tr>
            </thead>
            <tbody>
              <% if @user %>
                <tr>
                  <td><%= @user.total(:totalShots) %></td>
                  <td><%= @user.total(:shotsHit) %></td>
                  <td>
                    <%= @user.grouped_total(:accuracy, true) %>%
                    <br>
                    <progress class="progress is-info" value="<%= @user.grouped_total(:accuracy, true) %>" max="100"><%= @user.grouped_total(:accuracy, true) %>%</progress>
                  </td>
                  <td><%= @user.total(:hs) %></td>
                  <td>
                    <%= @user.grouped_total(:hsPercent, true) %>%
                    <br>
                    <progress class="progress is-info" value="<%= @user.grouped_total(:hsPercent, true) %>" max="100"><%= @user.grouped_total(:hsPercent, true) %>%</progress>
                  </td>
                  <td><%= @user.total(:plants) %></td>
                  <td><%= @user.total(:defuses) %></td>
                </tr>
              <% else %>
                <tr>
                  <td colspan="4">Nenhum dado registrado!</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <table class="table is-bordered is-striped is-narrow is-fullwidth">
            <thead>
              <tr>
                <th width="16%">Flashs</th>
                <th width="16%">Inimigos flashados</th>
                <th width="16%">Molotovs</th>
                <th width="16%">HEs</th>
                <th width="16%">Smokes</th>
                <th width="16%">Dano total de utilidade</th>
              </tr>
            </thead>
            <tbody>
              <% if @user %>
                <tr>
                  <td><%= @user.total(:flashesThrown) %></td>
                  <td><%= @user.total(:enemiesFlashed) %></td>
                  <td><%= @user.total(:fireThrown) %></td>
                  <td><%= @user.total(:heThrown) %></td>
                  <td><%= @user.total(:smokesThrown) %></td>
                  <td><%= @user.total(:utilityDamage) %></td>
                </tr>
              <% else %>
                <tr>
                  <td colspan="3">Nenhum dado registrado!</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <div id="data" class="columns">
            <div class="column is-one-third">
              <table class="table is-bordered is-striped is-narrow is-fullwidth">
                <thead>
                  <tr>
                    <th colspan="2">Arma</th>
                    <th>Kills</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @user %>
                    <% @user.armas.each do |arma, kills| %>
                      <tr>
                        <td><%= arma %></td>
                        <td><%= image_tag Weapon::IMAGE[arma] %></td>
                        <td><%= kills %></td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="3">Nenhum dado registrado!</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="column is-one-third">
              <% if @user.besto_friendo %>
                <div class="notification is-link" style="display: inline-box; text-align: center">
                  <strong><i class="fa-solid fa-handshake"></i> MY BESTO FRIENDO</strong>
                  <br>
                  <br>
                  <%= image_tag avatar_url(@user.besto_friendo.first), class: 'img-circle' %>
                  <br>
                  <strong><%= @user.besto_friendo.first.nome %></strong>
                  <br>
                  <strong><%= (@user.demos.count / @user.besto_friendo.last) * 100 %>% de vitórias juntos</strong>
                </div>
              <% end %>
              <% if @user.worsto_friendo %>
                <div class="notification is-danger" style="display: inline-box; text-align: center">
                  <strong><i class="fa-solid fa-handshake"></i> MY WORSTO FRIENDO</strong>
                  <br>
                  <br>
                  <%= image_tag avatar_url(@user.worsto_friendo.first), class: 'img-circle' %>
                  <br>
                  <strong><%= @user.worsto_friendo.first.nome %></strong>
                  <br>
                  <strong><%= (@user.demos.count / @user.worsto_friendo.last) * 100 %>% de derrotas juntos</strong>
                </div>
              <% end %>
            </div>
            <div class="column is-one-third"></div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <table class="table is-bordered is-striped is-narrow is-fullwidth">
                <thead>
                  <th>Nome da demo</th>
                  <th>Mapa</th>
                  <th>Data</th>
                </thead>
                <tbody>
                  <% @user.demos.each do |demo| %>
                    <tr>
                      <td><%= link_to demo.nome, demo %></td>
                      <td><%= demo.map.nome %></td>
                      <td><%= format_datetime(demo.created_at) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
