<div class="container">
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_payment_type_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Tipo de Pagamento
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar um novo Tipo de Pagamento.
    </div>
  </div>
  <hr>
  <table class="table is-narrow is-striped is-bordered">
    <thead>
      <th>Nome</th>
      <th>Operações</th>
    </thead>
    <tbody>
      <% @payment_types.each do |payment_type| %>
      <tr>
        <td><%= payment_type.nome %></td>
        <td>
          <%= link_to "Editar", edit_payment_type_path(payment_type), :class => 'button' %>
          <% if payment_type.ativo %>
            <%= link_to "Inativar", toggle_status_payment_type_path(payment_type), :method => :post, remote: true, :class => 'button' %>
          <% else %>
            <%= link_to "Ativar", toggle_status_payment_type_path(payment_type), :method => :post, remote: true, :class => 'button' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
