<% if @historic_sales.any? || @historic_receipts.any? %>
  $("#info-div").show();
  $("#info-button").show();
  $("#historic-sale-table > tbody").empty();
  $("#historic-receipt-table > tbody").empty();
  $("#week-info-table > tbody").empty();
  $("#week-info-table > tfoot").empty();
  $("#resume-info-table > tbody").empty();
  
  <% @historic_sales.each do |s| %>
  	<% sale = Sale.find(s.id) %>
    content = '<tr>';
    content += '<td><%= format_date sale.data_venda %></td>';
    content += '<td><%= sale.user.person.nome %></td>';
    content += '<td><%= humanized_money_with_symbol sale.valor_total %></td>';
    content += '<td><%= sale.customer.nome %></td>';
    content += '<td><%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, sale_path(sale), :class => "button", target: :_blank %></td>';
    content += '</tr>';
    $("#historic-sale-table > tbody").append(content);
  <% end %>

  <% @historic_receipts.each do |r| %>
  	<% receipt = Receipt.find(r.id) %>
    content = '<tr>';
    content += '<td><%= format_date receipt.data_recebimento %></td>';
    content += '<td><%= receipt.user.person.nome %></td>';
    content += '<td><%= humanized_money_with_symbol receipt.valor_total %></td>';
    content += '<td><%= receipt.nome_cliente_empresa %></td>';
    content += '<td><%= link_to "<i class=\"fa fa-eye\"></i>".html_safe, receipt_path(receipt), :class => "button", target: :_blank %></td>';
    content += '</tr>';
    $("#historic-receipt-table > tbody").append(content);
  <% end %>

  <% total_venda = 0 %>
  <% total_recebimento = 0 %>
  <% @week_infos.each do |w| %>
    <% total = w.total/100.to_f %>
    <% total_venda += total if w.tipo == 'venda' %>
    <% total_recebimento += total if w.tipo == 'recebimento' %>
    content = '<tr>';
    content += '<td><%= format_date w.data %></td>';
    content += '<td><%= Person.find(w.user_id).nome %></td>';
    content += '<td><%= w.tipo %></td>';
    content += '<td><div class="pull-right"><%= humanized_money_with_symbol total %></div></td>';
    content += '</tr>';
    $("#week-info-table > tbody").append(content);
  <% end %>
  <% total_cor = 'hero is-success' %>
  <% total_cor = 'hero is-danger' if total_recebimento - total_venda < 0 %>
  <% total_cor_geral = 'hero is-success' %>
  <% total_cor_geral = 'hero is-danger' if @total < 0 %>
  content = '<tr>';
  content += '<td colspan="3"><strong>Total Vendas</strong></td>';
  content += '<td colspan="2"><div class="hero is-info pull-right"><%= humanized_money_with_symbol total_venda %></div></td>';
  content += '</tr><tr>';
  content += '<td colspan="3"><strong>Total Recebimentos</strong></td>';
  content += '<td colspan="2"><div class="hero is-primary pull-right"><%= humanized_money_with_symbol total_recebimento %></div></td>';
  content += '</tr><tr>';
  content += '<td colspan="3"><strong>Total Caixa Semana</strong></td>';
  content += '<td colspan="2"><div class="<%= total_cor %> pull-right"><%= humanized_money_with_symbol total_recebimento - total_venda %></div></td>';
  content += '</tr><tr>';
  content += '<td colspan="3"><strong>Total Caixa Geral</strong></td>';
  content += '<td colspan="2"><div class="<%= total_cor_geral %> pull-right"><%= humanized_money_with_symbol @total/100.to_f %></div></td>';
  content += '</tr>';
  $("#week-info-table > tfoot").append(content);

  content = '<tr>';
  content += '<td><div class="hero is-info pull-right"><%= humanized_money_with_symbol total_venda %></div></td>';
  content += '<td><div class="hero is-primary pull-right"><%= humanized_money_with_symbol total_recebimento %></div></td>';
  content += '<td><div class="<%= total_cor %> pull-right"><%= humanized_money_with_symbol total_recebimento - total_venda %></div></td>';
  content += '<td>|<div class="<%= total_cor_geral %> pull-right"><%= humanized_money_with_symbol @total/100.to_f %></div></td>';
  content += '</tr>';
  $("#resume-info-table > tbody").html(content);

<% else %>
  $("#info-div").hide();
  $("#info-button").hide();
<% end %>