<div class="container">
  <div class="columns">
    <div class="column is-2">
      <%= link_to new_receipt_path, :class => 'button is-primary' do %>
        <i class="fa fa-plus"></i>&nbsp;
        Recebimento
      <% end %>
    </div>
    <div class="column">
      Clique no botão ao lado para criar uma nova Recebimento.
    </div>
  </div>
  <hr>
  <table class="table is-narrow is-striped is-bordered">
    <thead>
      <th>Data da Recebimento</th>
      <th>Funcionário</th>
      <th>Valor Total</th>
      <th>Cliente</th>
      <th>Operações</th>
    </thead>
    <tbody>
      <% @receipts.each do |receipt| %>
      <tr>
        <td><%= format_date receipt.data_recebimento %></td>
        <td><%= receipt.user.person.nome %></td>
        <td><%= humanized_money_with_symbol receipt.valor_total %></td>
        <td><%= receipt.nome_cliente_empresa %></td>
        <td>
          <%= link_to "Editar", edit_receipt_path(receipt), :class => 'button' %>
          <%= link_to "Visualizar", receipt_path(receipt), :class => 'button' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="column has-text-centered">
    <%= paginate @receipts %>
  </div>
</div>
