<div class="container">
  <div class="columns">
    <div class="column">
      <h2 class="title is-2">Detalhes do Recebimento</h2>
    </div>
  </div>
  <hr>
  <table class="table is-narrow is-striped is-bordered">
    <tbody>
      <tr>
        <td>Data</td><td><%= format_date @receipt.data_recebimento %></td>
      </tr>
      <tr>
        <td>Nome do Cliente</td><td><%= @receipt.nome_cliente_empresa %></td>
      </tr>
      <tr>
        <td>Valor Total do Recebimento</td><td><%= humanized_money_with_symbol @receipt.valor_total %></td>
      </tr>
      <tr>
        <td>Observação</td><td><%= @receipt.observacao %></td>
      </tr>
      <tr>
        <td>Responsável</td><td><%= @receipt.user.person.nome %></td>
      </tr>
      <tr>
        <td colspan="2"><div class="pull-center"><strong>Pagamentos</strong></div></td>
      </tr>
      <tr>
        <td colspan="2">
          <table>
            <thead>
              <tr>
                <th>Tipo de Pagamento</th>
                <th>Data</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
            <% valor_total = 0 %>
            <% @receipt.receipt_payments.each do |receipt_payment| %>
              <tr>
                <td><%= PaymentType.find(receipt_payment.payment_type_id).nome %></td>
                <td><%= format_date receipt_payment.data_pagamento %></td>
                <td><div class="pull-right"><%= humanized_money_with_symbol receipt_payment.valor_total %></div></td>
              </tr>
              <% valor_total += receipt_payment.valor_total %>
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Total: <%= @receipt.receipt_payments.size %></td>
                <td><div class="pull-right"><%= humanized_money_with_symbol valor_total %></div></td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
