<aside class="menu">
  <ul class="menu-list">
    <li>
      <%= link_to root_path, class: "#{'is-active' if params[:controller] == 'dashboard'}" do %>
        <span class="icon is-small"><i class="fa fa-dashboard"></i></span>&nbsp;
        Painel
      <% end %>
    </li>
    <% if logged_in? %>
      <li>
        <%= link_to users_path, class: "#{'is-active' if params[:controller] == 'users'}" do %>
          <span class="icon is-small"><i class="fa fa-user"></i></span>&nbsp;
          Usuários/Jogadores
        <% end %>
      </li>
      <li>
        <%= link_to maps_path, class: "#{'is-active' if params[:controller] == 'maps'}" do %>
          <span class="icon is-small"><i class="fa fa-map"></i></span>&nbsp;
          Mapas
        <% end %>
      </li>
      <li>
        <%= link_to teams_path, class: "#{'is-active' if params[:controller] == 'teams'}" do %>
          <span class="icon is-small"><i class="fa fa-users"></i></span>&nbsp;
          Times
        <% end %>
      </li>
      <li>
        <%= link_to tournaments_path, class: "#{'is-active' if params[:controller] == 'tournaments'}" do %>
          <span class="icon is-small"><i class="fa fa-trophy"></i></span>&nbsp;
          Torneios
        <% end %>
      </li>
      <li>
        <%= link_to seasons_path, class: "#{'is-active' if params[:controller] == 'seasons'}" do %>
          <span class="icon is-small"><i class="fa fa-star"></i></span>&nbsp;
          Temporadas
        <% end %>
      </li>
      <li>
        <%= link_to games_path, class: "#{'is-active' if params[:controller] == 'games'}" do %>
          <span class="icon is-small"><i class="fa fa-book"></i></span>&nbsp;
          Ativar Jogo
        <% end %>
      </li>
    <% end %>
  </ul>
  <ul class="menu-list">
    <% if logged_in? %>
      <li>
        <%= link_to randomizer_path, class: "#{'is-active' if params[:controller] == 'randomizer'}" do %>
          <span class="icon is-small"><i class="fa fa-random"></i></span>&nbsp;
          Randomizador
        <% end %>
      </li>
    <% end %>
    <li>
      <%= link_to compare_path, class: "#{'is-active' if params[:controller] == 'compare'}" do %>
        <span class="icon is-small"><i class="fa fa-arrows-alt"></i></span>&nbsp;
        Comparar
      <% end %>
    </li>
  </ul>
</aside>
