<nav class="nav has-shadow">
  <div class="nav-left">
    <%= link_to root_path, class: "nav-item" do %>
      <h1><strong>CSZIM-APP</strong></h1>&nbsp;<%= image_tag(asset_path 'Knife.ico') %>
    <% end %>
  </div>
  <div class="nav-right nav-menu">
    <% if logged_in? %>
      <%= link_to edit_user_path(current_user), class: "nav-item is-tab" do %>
        <%= current_user.nome %>
      <% end %>
      <%= link_to logout_path, method: "delete", class: "nav-item is-tab" do %>
        Sair
      <% end %>
    <% else %>
      <a href="#" class="nav-item is-tab">Convidado</a>
      <%= link_to login_path, class: "nav-item is-tab" do %>
        Logar
      <% end %>
    <% end %>
  </div>
</nav>
