<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1><strong>CSZIM-APP <%= current_configuration.version.upcase %></strong></h1>&nbsp;<%= image_tag(asset_path 'Knife.ico') %>
    <% end %>
  </div>
  <div class="navbar-menu">
    <% if logged_in? %>
      <div class="navbar-start">
        <%= link_to edit_user_path(current_user), class: "navbar-item" do %>
          <%= current_user.nome %>
        <% end %>
      </div>
      <div class="navbar-end">
        <%= link_to logout_path, method: "delete", class: "navbar-item" do %>
          Sair
        <% end %>
      </div>
    <% else %>
      <div class="navbar-end">
        <a href="#" class="navbar-item">Convidado</a>
        <%= link_to login_path, class: "navbar-item" do %>
          Logar
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
